*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
}

.center{
    justify-content: space-between;
    width: 100%;
    display: flex;
}

.center .img-wrap{
    flex: 0.5;
    margin: 0 10px;
  /* position: relative; */
  transition: flex 0.4s ease;
}

.center .img-wrap.active{
    flex: 5;
}

.center .img-wrap.active .image > h3{
    opacity: 1;
    transition-delay: 0.4s;
}



.center .img-wrap .image{
    border-radius: 20px;
    background-size: 100% 100%;
    min-height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    cursor: pointer;
}

.center .img-wrap .image > h3{
    position: absolute;
    bottom: 30px;
color: white;
left: 20px;
opacity: 0;
transition: opacity 0.3s ease;
}

@media screen and (max-width: 728px) {
    .center .img-wrap.active{
        flex: 5;
    }
    
}
@media screen and (min-width: 1000px){
    .center .img-wrap .image{
        background-position: bottom;
    }
}

